table {
    border: 5px solid black;
    border-collapse: separate;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

col.genreCol {
    background-color: lightblue;
}

col.infoCol {
    background-color: lightpink;
}

col.valueCol {
    background-color: lavender;
}

tr.firstRow {
    background-color: lightgreen;
}

tfoot.summary {
    background-color: lightyellow;
}